<style>
    .navbar-brand>img {
        margin-top: -9px;
        height: 40px;
        width: auto;
        opacity:0.6
    }
</style>

<div class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <a class="navbar-brand" ui-sref="root">
            <img src="/images/pi1.png" />
        </a>

    </div>



    <div class="container">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active">
                    <a ui-sref="root">
                        Главная</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="plan"><i class="fa fa-street-view"></i> План</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="transport"><i class="fa fa-bus"></i> Транспорт</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="cam"><i class="fa fa-camera"></i> Камера</a>
                </li>
            </ul>
        </div>

    </div>
</div>







<div class="container-fluid">
    <ui-view></ui-view>
</div>

<nav class="navbar navbar-fixed-bottom">
    <div class="container">
        <center>© 2018 Дмитрий Макарычев</center>
    </div>
    </div>
