<style>
    .plan-image-div {
        /* background-color: brown; */
        height:85vh;
        border: 2px red solid;
        background: url('/images/plan.png') no-repeat center #eee;
    }

    .plan-image-div img {
        border: 2px gray solid;

    }

    .panel.room {
        height: 23vh;
    }
</style>

<div class="row">

    <div class="row">
        <div class="col-sm-2">
            <div class="panel panel-default" style="height:76vh">
                <div class="panel-body">
                  Действия
                </div>
              </div>
        </div>

        <div class="col-sm-9">
            
            <div class="row">
                <div class="col-sm-4">
                    
                    <div class="panel panel-default room">
                        <div class="panel-body">
                          Кухня
                        </div>
                      </div>
        
                </div>
                <div class="col-sm-8">
                    <div class="panel panel-default room">
                        <div class="panel-body">
                          Зал
                        </div>
                      </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-3">
                    
                    <div class="panel panel-default room">
                        <div class="panel-body">
                          Ванна
                        </div>
                      </div>
        
                </div>
                <div class="col-sm-9">
                    <div class="panel panel-default room">
                        <div class="panel-body">
                          Коридор
                        </div>
                      </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    
                    <div class="panel panel-default room">
                        <div class="panel-body">
                          Спальня
                        </div>
                      </div>
        
                </div>
                <div class="col-sm-6">
                    
                    <div class="panel panel-default room">
                        <div class="panel-body">
                          Вася
                        </div>
                      </div>
        
                </div>
                <div class="col-sm-2">
                    <div class="panel panel-default room">
                        <div class="panel-body">
                          Тёмная
                        </div>
                      </div>
                </div>
            </div>


        </div>

        <div class="col-sm-1">
            <div class="thumbnail warning" style="height:76vh">
                  Подъезд
              </div>
        </div>
        
    </div>

    





</div>